*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/Img4.jpg); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

header, h1{
    color: white;
    text-align: center;
}
#nave {
    background-color:#030300 ; /* Fondo oscuro */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

/*seleccionando la clase nav-link dentro del id #nave*/

#nave .nav-link {
    color: hsl(48, 99%, 64%) !important; /* Forzar el estilo */
    background-color: #030300;
}

#carouselExampleAutoplaying {
    display: block; /* No es necesario que sea flex */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    width: 500px; /* Ajusta el ancho según necesidad */
    height: auto; /* Mantiene la proporción */
    padding: 20px; /* Espaciado opcional */
}


footer {
    text-align: center; /* Centra horizontalmente el texto */
    color: white;
}

footer a i {
    margin-right: 8px;  /* Espaciado entre el ícono y el texto */ 
    color: #E4405F;  /* Color del ícono (rojo característico de Instagram) */ 
}
