*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

footer a i {
    margin-right: 8px;  /* Espaciado entre el ícono y el texto */ 
    color: #E4405F;  /* Color del ícono (rojo característico de Instagram) */ 
}