/*
Selector Universal: sirve para tomar valores en toda la estructura del sitio * 
*/
*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Por lo general en la etiqueta body vas a utilizar el: color de fondo, tamaño de letra y tipografia de la letra*/
body{
    background-color: rgb(247, 247, 247);
    font-family: 'Courier New', Courier, monospace;
    color:black;
}

/*
Selector de la etiqueta h1 dentro del header

*/


header h1 {
    text-align: center;
    background-color: black;
    font-size: 40px;
    color: hsl(48, 99%, 64%); 
}

/*
Selector de ID: carouselExample
*/

#carouselExample{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* (Opcional) Centra verticalmente */
    width: 500px; /* Asegúrate de que ocupe todo el ancho disponible */
    height: auto; /* Ajusta la altura automáticamente */
    padding: 20px; /* Opcional: Añade espacio alrededor */
}

/*
Seleccionando las etiquetas h2 dentro del ID sugerencias
*/

/*
2 ley de importancia
!important es el que importancia toma 
id
clase
etiqueta

*/
#sugerencias h2 {
    color: rgb(226, 43, 95);
    font-size: 30px;
    text-align: center;
}
#sugerencias p{
    text-align: center;
}

#prueba { color: green;}

.pruebarojo{color: red}

/*
id nave
*/
#nave {
    background-color:#030300 ; /* Fondo oscuro */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

/*seleccionando la clase nav-link dentro del id #nave*/

#nave .nav-link {
    color: hsl(48, 99%, 64%) !important; /* Forzar el estilo */
    background-color: #030300;
}

/*
1 primera ley de cascada
En css: el último selector (el que está más abajo) ante una doble asignación será el que el tomado por el diseño de la web
*/
*{ 
    background-color: rgb(247, 247, 247);
}

  input, textarea {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    width: 10%; /* Botón del ancho completo */
    padding: 10px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #ffd500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Color al pasar el cursor */
  }
  
footer {
    text-align: center; /* Centra horizontalmente el texto */
}


/*
#iconinstagram {
    width: 20px;   
    height: auto;

} */

footer a i {
    margin-right: 8px;  /* Espaciado entre el ícono y el texto */ 
    color: #E4405F;  /* Color del ícono (rojo característico de Instagram) */ 
}


